body {
  margin: 60px auto;
  width: 70%;
}
footer ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: none;
  color: red;
}
h1 {
  font-size: 3em;
}
h1, h2, h3 {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 1.0em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
}

ul.posts li {
  list-style: none;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

header, nav {
  height: 120px;
}

header {
  vertical-align: middle;
  min-width: 800px;
}

nav ul { 
  margin: 0; 
  height: 100%; 
  display: table; 
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  list-style: none;
  font-weight: bold;
}
nav ul li {    
  height: 100%; 
  vertical-align: middle; 
  display: table-cell;
}

nav li {
  display:inline;
  padding:10px;
}

header nav {
  list-style: center;
  float: right;
  vertical-align: middle;
}

header h1 {
  font-size: 36px;
}

.title {
  float: left;
  margin: 0; 
  display: table; 
  width: 50%;
  padding-top: 10px;
}

.title a{
  color: #000;
}
.title a:hover{
  text-decoration: none;
}

.about {
  height: 300px;
  min-width: 850px;
  max-width: 1000px;
}

.about img {
  padding-right: 50px;
  width: 400px;
  float: left;
}

.project, .pub {
  padding-bottom: 20px;
  min-width: 600px;
  max-width: 900px;
}

.pub h2 {
  color: #999;
}

/* .project h2 a {
  color: red;
}
.project h2 a:hover {
  text-decoration: none;
  color: #999;
} */

.project p a:hover {
  color: red;
}

.desc {
  font-style: italic;
}

.meta {
  color: #999;
}

/*** Works on common browsers ***/
::selection {
  background-color: red;
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: red;
  color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: red;
  color: #fff;
}

::-ms-selection {
  background-color: red;
  color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: red;
  color: #fff;
}