@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --light: #ffffff;
  --dark: #1d1d22;
  --accent: #3340f3;
  --highlight:#fbff24;
  --link:#3340f3;
  --footer: #c0b9cf;
  --link-hover: #cbe0ec;
  --blockquote: #3340f3;
  --cite: #a19da1;
  --meta: #a19da1;
  --symbol: #a597c0;
}

body {
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  /* text-align: justify; */
  /* line-height: 1.4em; */
  margin: 60px auto;
  width: 85%;
  max-width: 1000px;
  min-width: 800px;
  background-color: var(--light);
}
footer {
  margin-top: 50px;
  border-top: 1px solid var(--footer);
  font-size: .8em;
}
footer ul {
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: 500;
}
footer ul li {
  display: inline;
  margin-right: 10px;
}
footer a {
  color: var(--footer);
}
a {
  text-decoration: none;
  color: var(--link);
}
a:hover {
  text-decoration: none;
  background-color: var(--link-hover);
  transition: .2s;
}
footer a:hover {
  color: var(--link-hover);
  background-color:rgb(0, 0, 0, 0);
  transition: .2s;
}
footer img {
  opacity: 0.75;
}
footer img:hover {
  opacity: 1.0;
  filter: hue-rotate(-30deg) saturate(15) brightness(85%);
  color: none;
  transition: .2s;
}
button {
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  background-color: #6a6a6a;
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

h1 {
  font-family: 'Newsreader', 'Times New Roman', 'Serif';
  color: var(--dark);
  font-size: 36px;
}
h2 {
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  color: var(--accent);
  font-size: 28px;
  font-weight: 500;
}
h3 {
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  color: var(--accent);
  font-size: 20px;
  font-weight: 500;
}

blockquote .quote {
  border-left: 8px solid var(--blockquote);
  margin-left: 1.5em 10px;
  /* padding: 0.5em 10px; */
  font-size: 24px;
  font-family: 'Newsreader', 'Times New Roman', 'Serif';
  line-height: 36px;
  text-indent: -0.45em;
  font-style: italic;
  color:var(--blockquote);
  padding: 7px 0 7px 28px;
}

blockquote .long-quote {
  border-left: 8px solid var(--blockquote);
  margin-left: 1.5em 10px;
  /* padding: 0.5em 10px; */
  font-size: 20px;
  font-family: 'Newsreader', 'Times New Roman', 'Serif';
  line-height: 28px;
  text-indent: -0.45em;
  font-style: italic;
  color: var(--blockquote);
  padding: 7px 0 7px 28px;
}

blockquote:before {
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote .cite {
  display: inline;
  color: var(--cite);
  font-family: 'Newsreader', 'Times New Roman', 'Serif';
  font-size: 12px;
  line-height: 12px;
}

p, ol, ol li, ul, ul li, table {
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  font-size: 16px;
  line-height: 1.65em;
  color: var(--dark);
}

p {
  max-width: 800px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* .post {
  font-family: 'Newsreader', sans-serif;
  line-height: 1.4em;
} */

th, td {
  vertical-align: top;
  padding-bottom: 15px;
}

.table-date {
  padding-right: 20px;
}

ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
  position: relative;
}
ol > li:before {
  counter-increment: list;
  content: "(" counter(list) ") ";
  position: absolute;
  left: -1.6em;
}

ul.post-list {
  margin: 20px auto 40px;
}

ul.post-list li {
  list-style: none;
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  font-size: 24px;
}

header {
  vertical-align: middle;
  padding-bottom: 100px;
}

nav ul {
  height: 50px;
  display: table;
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  list-style: none;
  font-weight: 600;
  padding: 10px;
}
nav ul li {
  /* height: 100%; */
  vertical-align: middle;
  display: table-cell;
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  font-size: 18px;
}

nav li {
  display: inline;
  padding: 10px;
}

.nav-wide {
  display: block;
  float: right;
}
.nav-thin {
  display: block;
  width: 100%;
}

header nav {
  list-style: center;
  vertical-align: middle;
}

header h1 {
  font-family: 'Newsreader', 'Times New Roman', 'Serif';
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
}

video {
  vertical-align: top;
}

.svgs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 50px;
}
.svg {
  font-family: 'Newsreader', 'Times New Roman', 'Serif';
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.svg video,
.svg object,
.svg img {
  max-width: 100%;
  height: auto;
}

.authors {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.author {
  font-family: 'Newsreader', 'Times New Roman', 'Serif';
  /* display: inline; */
  text-align: center;
  margin: 10px 10px 10px 10px;
}
#author-name{
  font-size: 16px;
  font-weight: 600;
  line-height: 0em;
  display: inline;
}
#author-institution{
  font-size: 16px;
  color: var(--accent);
  font-style: italic;
  display: inline;
}

.meta {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  font-weight: 600;
}

.excerpt {
  margin-left: 20px;
}

.excerpt, .excerpt a, .excerpt a:hover {
  color: var(--dark);
  transition: .2s;
}

.abstract {
  width: 100%;
  /* text-align: justify; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.abstract h3 {
  line-height: 0em;
}

.read-more {
  margin-left: 20px;
  text-decoration: italic;
  margin-bottom: 40px;
}

.refs ol {
  margin: 0px;
  padding-bottom: 25px;
  height: 100%;
  display: block;
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  font-size: 16px;
  color: var(--dark);
}

.refs ol li {
  padding-bottom: 10px;
}

.refs ol {
  counter-reset: list;
}
.refs ol > li {
  list-style: none;
  position: relative;
}
.refs ol > li:before {
  counter-increment: list;
  content: counter(list) ". ";
  position: absolute;
  left: -1.4em;
}

.footnotes {
font-family: 'Newsreader', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: var(--dark);
  padding-top: 10px;
  padding-bottom: 25px;
}

.footnotes hr {
  width: 100px;
  background-color: var(--accent);
  border-color: transparent;
}

.footnotes section {
  padding-bottom: 10px;
}

.pagination a, .pagination span {
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  font-size: 16px;
  color: var(--link);
  text-decoration: none;
  display: inline-block;
  /* padding: 20px; */
  margin: 20px;
  }

.pagination {
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  font-size: 20px;
  color: var(--accent);
  text-align: center;
 }

hr {
  height: 2px;
  background-color: var(--accent);
  border-color: transparent;
}

figure {
  padding: 20px;
  text-align: center;
  margin: auto;
  width: 80%;
}

figcaption {
  font-size: 14px;
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
  text-decoration: italic;
  color: var(--dark);
  /* text-align: justify; */
  padding-top: 0px;
  width: 100%;
}

.title-wide {
  float: left;
  display: table;
  padding-top: 10px;
}

.title-thin {
  width: 100%;
  text-align: center;
  margin: auto;
  display: block;
}

.title-wide a, .title-thin a {
  color: #000;
}
.title-wide a:hover, .title-thin a:hover {
  text-decoration: none;
  background-color: var(--link-hover);
  transition: .2s;
}

.about-wide {
  display: block;
}
.about-thin {
  display: block;
}

.about-row {
  width: 100%;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 25px;
}

.about-cols {
  display: flex;
  width: 100%;
}

.about-img {
  padding: 20px 50px 15px 25px;
  width: 35%;
  float: left;
  min-width: 200px;
  text-align: center;
}

.about-desc {
  width: 100%;
  padding-right: 20px;
  float: right;
}

img {
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.abstract img {
  width: 100%;
  padding-bottom: 40px;
}

.pub {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pub p {
  font-size: 14px;
  margin: 2px;
  margin-left: 1.6em;
}

.pub a {
  font-size: 14px;
}
.pub h2 {
  margin-bottom: 6px;
  font-family: 'Newsreader';
  font-size: 16px;
}

.prev {
  opacity: 100%;
  position: relative;
  z-index: 1;
}

.prev:hover {
  opacity: 0%;
}

.anim {
  position: absolute;
  top: 0;
  left: 0;
}

.meta p {
  color: --var(meta);
  font-size: 16px;
}

.tags {
  font-family: 'Zalando Sans', 'Helvetica', 'Sans-Serif';
}

.post {
  width: 100%;
}
.post h3 {
  line-height: 32px;
}
.post p {
  font-size: 16px;
  /* line-height: 1.8em; */
  line-height: auto;
}
.post ul li, ol li {
  line-height: 1.8em;
  margin-top: 10px;
  width: 95%;
}
.post-padding {
  width: 100%;
  height: 50px;
}
.post a, .about-cols a, .about-row a, .random a {
  text-decoration: underline dotted var(--blockquote) 2px;
  text-underline-offset: 4px;
}
.post a:hover, .about-cols a:hover, .about-row a:hover, .random a:hover {
  text-decoration: none;
  transition: .2s;
}

.symbol {
  font-weight: 100;
  float: right;
  color: transparent;
  text-shadow: 0 0 0 --var(symbol);
}
.symbol a:hover {
  color: var(--link);
  background-color: var(--link-hover);
  transition: .2s;
}

/*** Works on common browsers ***/
::selection {
  background-color: var(--highlight);
  color: #000;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--highlight);
  color: #000;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--highlight);
  color: #000;
}

::-ms-selection {
  background-color: var(--highlight);
  color: #000;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--highlight);
  color: #000;
}

@media screen and (max-width: 875px) {
  .project-img {
    display: none;
  }
  .about-wide {
    display: none;
  }
  .title-wide {
    display: none;
  }
  .nav-wide {
    display: none;
  }
  .post-padding {
    display: none;
  }
  header {
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 875px) {
  .about-thin {
    display: none;
  }
  .title-thin {
    display: none;
  }
  .nav-thin {
    display: none;
  }
}

.bibtex {
  background-color: #e7e7e7;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  padding: 25px;
  line-height: normal;
}