---
layout: default
title: projects
---

<h1>{{ page.title }}</h1>
<p class="post" style="padding-bottom: 20px;">See more on <a href="https://github.com/sxzhang25">my Github.</a></p>

{% for project in site.data.projects %}
<div class="project">
	<div class="project-img">
		<img class="anim" src="/imgs/{{ project.image }}.gif" alt="">
		<img class="prev" src="/imgs/{{ project.image }}.png" alt="{{ project.title }}">
	</div>
	<div class="project-desc">
		<h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
		<h3>{{ project.course }}</h3>
		<p>{{ project.description }}</p>
		<p>{% for link in project.links %}{% unless forloop.first %}{{ ' ' }}{% endunless %}{% for pair in link %}<a href="{{ pair[1] }}">[{{ pair[0] }}]</a>{% endfor %}{% endfor %}</p>
	</div>
</div>
{% endfor %}
