<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container">
			
      {{ content }}
      
		</div><!-- /.blurb -->
	</div><!-- /.container -->
<footer>
	<ul>
		<li><a href="mailto:zsharonx@gmail.com">email</a></li>
		<li><a href="https://github.com/sxzhang25">github.com/sxzhang25</a></li>
	</ul>
</footer>
</body>
</html>
