<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>sharon zhang | {{ page.title }}</title>
		<link rel="shortcut icon" type="image/png" href="../imgs/favicon.png"/>
		<!-- link to main stylesheet -->
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
		<script>
			MathJax = {
			  tex: {
			    inlineMath: [['$', '$'], ['\\(', '\\)']]
			  }
			};
		</script>
		<script id="MathJax-script" async
  		src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
		</script>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175004480-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-175004480-1');
		</script>

  </head>
	<header>
		<div class="title"><h1><a href="/">sharon zhang</a></h1></div>
		<nav>
			<ul>
				<li><a href="/">home</a></li>
<!-- 				<li><a href="/resume">resume</a></li> -->
				<li><a href="/projects">projects</a></li>
				<li><a href="/publications">publications</a></li>
				<li><a href="/blog">blog</a></li>
			</ul>
		</nav>
	</header>
  <body>
    <div class="container">

      {{ content }}

		</div><!-- /.blurb -->
	</div><!-- /.container -->
<footer>
	<ul>
		<li><a href="mailto:zsharonx@gmail.com">email</a></li>
		<li><a href="https://github.com/sxzhang25">github</a></li>
		<li><a href="https://www.linkedin.com/in/sharon-z-517795129/">linkedin</a></li>
	</ul>
</footer>
</body>
</html>
